/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 200px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header img {
    width: 150px; /* Add logo */
    height: auto;
}

h1 {
    margin: 0;
}

.topnav {
    background-color: #5E3023;
    overflow: hidden;
}

.topnav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.topnav nav ul li {
    display: inline;
    margin-right: 20px;
}

.topnav nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    font-size: 16px;
}

.topnav nav ul li a:hover {
    background-color: #462106;
    border-radius: 4px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-us, .mission-values {
    margin-bottom: 20px;
}

.about-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #5E3023;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
